
*,
*::after,
*::before {
  box-sizing: border-box;
}

.section-dark {
  background-color: var(--color-dark-bkgrnd);
  color: var(--color-primary);
  margin-top: 4em;
}

.section-dark > h2 {
  margin-left: 2rem;
  margin-bottom: 3rem;
}

@media only screen and (min-width: 600px) {
  .section-dark {
    height: 40vh;
    margin-top: 0;
  }
  .section-dark > h2 {
    margin-bottom: 0;
  }
}

/* Typography */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-primary);
}

h2, h3, h4 {
  font-family: 'IBM Plex Mono', monospace;
}

p {
  font-size: 1.3rem;
  font-family: 'Inconsolata', monospace;
}

a {
  text-decoration: none;
  color: var(--color-primary);
  font-family: 'IBM Plex Mono', monospace;
}

a:hover {
  color: var(--color-body-lighter);
}

/* Color Palette */

:root {
  --color-primary: #f7f5f4;
  --color-dark-bkgrnd: #625855;
  --color-light-bkgrnd: #e9e7dd;
  --color-body: #dedede;
  --color-body-lighter: #ffffff;
  --color-body-dark:#4c4a42;
  --border-radius: 30px;
}

/* NavBar */ 

.navbar {
  display: flex !important;
  flex-direction: row !important;
  justify-content: left;
  padding: 20px 0 20px 0;
  text-transform: uppercase;
  font-size: 2rem;
  margin-left: 2rem;
}

/* Hero */

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.logo-hero {
  height: 500px;
  margin-left: 2rem;
}

.hero-desc {
  max-width: 80vw;
}

.hero-desc > h2 {
  margin-bottom: 4rem;
  font-size: 3rem;
  color: var(--color-dark-bkgrnd);
}

.hero-desc > p {
  margin-bottom: 2rem;
  font-size: 1.4rem;
}

.hero-links {
  margin-top: 3rem;
  text-transform: uppercase;
}

.hero-links > a:hover {
  background-color: var(--color-dark-bkgrnd);
  color: var(--color-primary);
}

.hero-links > a {
  border: 1px solid gray;
  padding: 1.2rem 2rem 1.2rem 2rem;
  color: var(--color-body-dark);
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.icon {
  margin-right: 0.6rem;
  color: var(--color-dark-bkgrnd);
}

@media only screen and (min-width: 600px) {
  .logo-hero {
    margin-left: 0;
  }

  .hero-content {
  flex-direction: row;
}

  .hero-desc {
    max-width: 20vw;
  }
}

/* Projects */

.projects {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 600px) {
  .projects {
    flex-direction: row;
    height: 40vh;
  }
}

.project {
  max-width: 30rem;
  display: flex;
  flex-direction: row;
  margin-bottom: 10%;
}

.project-icon {
  margin-right: 2rem;
}